.profile-container {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--lightDark);
}
.profile-container h3 {
  color: var(--WT);
  margin-bottom: 1rem;
}
.profile {
  background-color: var(--WT);
  width: 80%;
  padding: 2rem;
  border-radius: 20px;
}
.button-edit-user {
  display: flex;
  justify-content: center;
}
