.home {
}
.fullscreen-background {
  position: relative;
  height: calc(100vh - 80px);
  background-image: url("../../assets/gymBg.jpg");
  background-size: cover;
  background-position: center;
}
.centered-text {
  width: 100%;
  height: 100%;
  color: var(--WT);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.centered-text p {
  max-width: 700px;
}
.classes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.classes-content {
  max-width: 90%;
  text-align: center;
  margin-top: 1rem;
}
.classes-content p {
  max-width: 700px;
}
.classes-content h3 {
  font-size: 2rem;
}

.no-classes {
  background-color: var(--mainColor);
  color: var(--WT);
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  max-width: 90%;
  text-align: center;
}
@media (max-width: 768px) {
  .centered-text {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .centered-text {
    font-size: 1rem;
  }
  .no-classes {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
